@font-face {
  font-family: 'Open Sans';
  src: url('./OpenSans-Regular.woff2') format('woff2'),
       url('./OpenSans-Bold.woff2') format('woff2'),
}

body {
  background-color: #dddddd;
  background-image: url('./background.jpg');
  background-attachment: fixed;
  background-size: 100%;
}
* {
  font-family: 'Open Sans', serif;
}

.wrapper {
  max-width: 900px;
  margin: 0 auto;
}
.clearfix {
  zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  visibility: hidden;
}
.clearfix:after {
  clear: both;
}

.header__title, .header__subtitle {
  text-align: center;
}

.preferences {
  margin-top: 20px;
  margin-bottom: 20px;
}

.preferences__label {
  display: inline-block;
  font-weight: 900;
}

.preferences__label--executions>input,
.preferences__label--repeats>input {
  height: 30px;
}

.main {
  text-align: center;
}

.testcases-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: space-around;
  min-height: 300px;
  width: 90%;
  margin: 0 auto;
}

.testcase__container {
  margin-left: 20px;
  margin-right: 20px;
  min-width: 45%;
  flex: 1;
}

.testcase {
  font-size: 18px;
  height: 300px;
  width: 100%;
  resize: none;
}

.results-wrapper {
  /* max-width: 900px; */
  font-size: 18px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.result-wrapper {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-left: 20px;
}

.button {
  font-size: 17px;
  background-color: #605e5f;
  color: #fff;
  border: none;
  border-radius: none;
  outline: none;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

.button:disabled {
  background-color: #b4b2b2;
  box-shadow: none;
}

.button:active {
  transform: translate(-1px, 1px);
}
.button--add, .button--delete {
  width: 210px;
}
.button--starttest, .button--clearresults{
  width: 150px;
}

.button--add, .button--starttest {
  background-color: green;
  background-image: linear-gradient(to bottom,rgba(0, 255, 0, 1), rgba(0, 200, 0, 1), rgba(0, 255, 0, 1));
  border-radius: 3px;
  border: 1px solid rgba(0, 255, 0, 1);
}

.button--delete, .button--clearresults {
  background-color: red;
  background-image: linear-gradient(to bottom,rgba(200, 0, 0, 1), rgba(255, 0, 0, 1), rgba(200, 0, 0, 1));
  border-radius: 3px;
  border: 1px solid rgba(255, 0, 0, 1);
}


.button--add:active, .button--starttest:active {
  box-shadow: 1px 1px 15px green;
}

.button--delete:active, .button--clearresults:active {
  box-shadow: 1px 1px 15px red;
}

.button--starttest, .button--clearresults {
  margin-top: 20px;
}

.valueContent {
  font-weight: 900;
}

.loadingOverlay {
  background-color: rgba(255, 255, 255, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center
}
.loadingOverlay--hidden{
  display: none;
}
.loadingOverlay>div{
  font-size: 40px;
  vertical-align: middle;
  font-weight: 900;
}

@media screen and (min-width: 600px){
  .preferences__label--executions {
    float: left;
  }
  
  .preferences__label--repeats {
    float: right;
  }  
}